@model Sklepik.Models.DB.Galeria_zdjęc

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Layout/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Galeria_zdjęc</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.zdjęcie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zdjęcie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Produkty.nazwa_produktu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Produkty.nazwa_produktu)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
